
@font-face {
    font-family: 'IRANSansWeb_Bold';
    src: url("../font/IRAN Sans Bold (mmrostami.blog.ir).ttf") format('truetype');
}

body{
    margin-top: 74px;
    font-family:'IRANSansWeb_Bold',sans-serif ;
}

.background-navbar {
    background-color:#147fe1 ;
}
.btn-nav{
    padding:2px 30px 2px 30px;
    background-color: white;
    border-radius: 20px;
}

.btn-nav:hover{
    background-color: #0a53be;
    color: whitesmoke;
}

.btn-header{
    padding: 4px 20px 4px 20px;
    border-radius:20px;
    background-color: whitesmoke;
    color: #0a53be;
}

.btn-header:hover{
    background-color: #0a53be;
    color: whitesmoke;
}


.btn-box{
    padding: 5px 15px 5px 15px;
    background-color:lightgrey;
    border-radius: 3px;
    color: #515152;
}



.img-box{
    height: 120px;
    width: 150px;
}

.off-box{
    padding: 3px 10px 3px 10px;
    border-end-start-radius: 15px;
    border-top-right-radius:15px ;


}
.box{
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);

}

.border-radius-box{
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px ;
}


footer{
    background-color: #181818;
}

.btn-background-header{
    background-color: rgba(0,0,0, 0.2);
    padding: 12px 11px 7px 11px;
    border-radius: 25px;
    line-height: 1;

}


.hr-footer{
    border-top: 3px #fa6d18 solid;
}

.slick-arrow {

    background-color:rgba(0,0,0, 0.1) !important;

}
.slick-next, .slick-prev{
    /*top: -12% !important;*/
    /*width:40px !important;*/
    /*height: 40px!important;*/
    /*line-height:1 !important;*/
    border-radius: 60px;
    /*color: black!important;*/
    background: darkgrey!important;
    outline: none!important;
}

/*.slick-prev{*/
/*    right:93% !important;*/
/*    left: 7% !important;*/
/*}*/

/*.slick-next{*/
/*    left:3% !important;*/
/*}*/

.img-icon{
    width: 110px;
    height: 110px;
    border-radius: 10px !important;
}


.envelope-bg{
    background-color: #4466D8;
}
.a-text-color{
    color: black;
}




.mmDrop {
    float: right;
    overflow: hidden;
}

.mmDrop .mmdropbtn {
    border: none;
    outline: none;
    color: white;
    padding: 18px 16px;
    background-color: inherit;
    margin: 0;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    /*You can change the width to your preference
    width:100%; left:0
    LEFT will align the sub-menu to the left and right is the same way
    */
    width: 90%;
    left:5%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

.dropdown-content .mmheader {
    background: grey;
    padding: 16px;
    color: #ffffff;
}

.mmDrop:hover .dropdown-content {
    display: block;
}

/* Create three equal columns that floats next to each other */

.mmcolumn {
    float: left;
    width: 33.33%;
    padding: 10px;
    background-color: #F5F5F5;
    height: auto;
}

.mmcolumn a {
    float: none;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.mmcolumn a:hover {
    background-color: lightgrey;color:grey;
}
.mmrow .mmcolumn:nth-child(1), .mmcolumn:nth-child(2){border-right:1px solid #E0E0E0}
/* Clear floats after the columns */
.mmrow:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 600px) {
    .mmcolumn {
        width: 100%;
        height: auto;
    }
}
#MMmenu {
     float: right;
 }




/*.slick-prev:before {*/
/*    background-image: url('images/arrow-left.png');*/
/*    background-size: 50px 50px;*/
/*    display: inline-block;*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    content:"";*/
/*}*/
/*.slick-next:before {*/
/*    background-image: url('images/arrow-right.png');*/
/*    background-size: 50px 50px;*/
/*    display: inline-block;*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    content:"";*/
/*}*/
